.new-component {
  display: flex;
  margin: 0 0 20px 0;
}
.new-component > * {
  border: 1px solid black;
  outline: none;
  flex: 1;
  padding: 20px;
  margin: 20px;
  min-width: 500px;
  min-height: 400px;
  height: auto;
}
.new-btn {
  margin: 0 20px !important;
}
.para {
  letter-spacing: 1.5px;
  word-spacing: 5px;
  padding: 20px;
}
.err {
  color: red;
}
.result-container {
  width: 40vw;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 20vh;
  height: 60vh;
  left: 30vw;
  /* opacity: .8; */
  min-height: 300px;
}
.result {
  padding-left: 40px;
}
.result-row {
  display: flex;
  margin: 20px 0;
  /* justify-content: space-between; */
}
.result-row > * {
  flex: 1;
  margin: 0 10px;
  padding: 5px;
}
.result-row .result-desc {
  padding-left: 100px;
}
.result-row > * {
  font-size: 18px;
}
.result-row > .result-heading {
  font-weight: 550;
}

.btn-box{
    display: flex;
    margin-top: 10px;
}
.btn-box > *{
    margin: 10px 40px;
    flex: 1;
    /* width: 100px !important; */

}